{% extends 'festival/layout.html' %}

{% block content %}
    
    {% for palco in palcos %}
        <article class="card">
            
            <h2 style="display: flex; align-items: center; gap: 10px;">
                {{ palco.nome }} ({{ palco.capacidade }} pessoas &middot; {{ palco.concertos.count }} concertos 
                {% if palco.acessibilidade_mobilidade_reduzida %}
                    &middot; ♿
                {% endif %})
                
                <a href="{% url 'editar_palco' palco.id %}" class="btn" style="font-size: 0.6em; padding: 5px 10px; background-color: #d84b91;">Editar palco</a>
            </h2>

            {% if palco.imagem %}
                <img src="{{ palco.imagem.url }}" alt="{{ palco.nome }}" style="max-width: 300px; border-radius: 8px; margin-bottom: 15px;">
            {% endif %}

            <div class="lista-concertos">
                {% for concerto in palco.concertos.all %}
                    <div style="background-color: #1a202c; padding: 15px; margin-bottom: 8px; border-radius: 6px; border: 1px solid #2d3748;">
                        {{ concerto.banda.nome }} - {{ concerto.dia.data|date:"Y-m-d" }}, {{ concerto.hora|time:"H:i" }}
                    </div>
                {% endfor %}
            </div>

        </article>
    {% endfor %}

{% endblock %}